In [1]:
import pandas as pd

In [2]:
# let's create a toy dataframe with some date variables

# first we create a series with the ranges
rng_ = pd.date_range('2019-03-05', periods=20, freq='T')

# now we convert the series in a dataframe
df = pd.DataFrame({'date': rng_}) 

# output the first 5 rows
df.head()

                 date
0 2019-03-05 00:00:00
1 2019-03-05 00:01:00
2 2019-03-05 00:02:00
3 2019-03-05 00:03:00
4 2019-03-05 00:04:00

In [3]:
# let's explore the variable type

df.dtypes

date    datetime64[ns]
dtype: object

In [4]:
# let's extract the date part

df['date_part'] = df['date'].dt.date

df['date_part'].head()

0    2019-03-05
1    2019-03-05
2    2019-03-05
3    2019-03-05
4    2019-03-05
Name: date_part, dtype: object

In [5]:
# let's extract the time part

df['time_part'] = df['date'].dt.time

df['time_part'].head()

0    00:00:00
1    00:01:00
2    00:02:00
3    00:03:00
4    00:04:00
Name: time_part, dtype: object

In [6]:
# let's create a toy dataframe where the datetime variable is cast
# as object

df = pd.DataFrame({'date_var':['Jan-2015', 'Apr-2013', 'Jun-2014', 'Jan-2015']})
df

   date_var
0  Jan-2015
1  Apr-2013
2  Jun-2014
3  Jan-2015

In [7]:
# let's explore the variable type

df.dtypes

date_var    object
dtype: object

In [8]:
# let's re-cast the variable as datetime

df['datetime_var'] = pd.to_datetime(df['date_var'])
df

   date_var datetime_var
0  Jan-2015   2015-01-01
1  Apr-2013   2013-04-01
2  Jun-2014   2014-06-01
3  Jan-2015   2015-01-01

In [9]:
# let's extract date and time

df['date'] = df['datetime_var'].dt.date
df['time'] = df['datetime_var'].dt.time

df

   date_var datetime_var        date      time
0  Jan-2015   2015-01-01  2015-01-01  00:00:00
1  Apr-2013   2013-04-01  2013-04-01  00:00:00
2  Jun-2014   2014-06-01  2014-06-01  00:00:00
3  Jan-2015   2015-01-01  2015-01-01  00:00:00

In [10]:
# let's explore the variable types

df.dtypes

date_var                object
datetime_var    datetime64[ns]
date                    object
time                    object
dtype: object