In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(29)

rng_min = pd.date_range('2019-03-05', periods=5, freq='T')
rng_day = pd.date_range('2019-03-05', periods=5, freq='D')

df = pd.DataFrame({ 'Date1': rng_min, 'Date2': rng_day, 'Val': np.random.randn(len(rng_min)) })
df.shape

(5, 3)

In [3]:
df

                Date1      Date2       Val
0 2019-03-05 00:00:00 2019-03-05 -0.417482
1 2019-03-05 00:01:00 2019-03-06  0.706032
2 2019-03-05 00:02:00 2019-03-07  1.915985
3 2019-03-05 00:03:00 2019-03-08 -2.141755
4 2019-03-05 00:04:00 2019-03-09  0.719057